<html>

<body>
  <div style="display: flex; flex-direction: row; gap: 50px">
    <div style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
      <p id="name">loading...</p>
      <textarea style="width: 500px; height: 500px; border: 1px solid black" readonly id="chat">
      </textarea>
      <div>
        <!-- @TODO: style this later please -->
        <input id="text" style="height: 30px" />
        <input type="file" id="attachment" name="avatar" accept="image/png, image/jpeg" />
      </div>
      <button style="padding: 10px; maring: 10px" id="sendBtn">send</button>
    </div>
    <div style="display: flex; flex-direction: column">
      <h3>status</h3>
      <div id="status"></div>
    </div>
  </div>

  <script src="/chat.js"></script>
</body>

</html>
